extends layout

block productos 
    div(class="container mt-3")
        div(class="jumbotron")
        h1(style="color:black;")="Productos"
        br
        
        div(class="table-responsive")
        table(class="table table-dark")
            tr(style="color:yellow;")
                th="Nombre"
                th="Precio"
                th="Foto"

            each producto in productos
                tr
                    td=producto.nombre  
                    td=producto.precio
                    td=producto.foto